RAILS_ROOT=<root of file>

DATABASE_ADAPTER=<database adapter>
DATABASE_NAME=<database name>
DATABASE_HOST=<database host>
DATABASE_PORT=<database port>
DATABASE_USER=<database user>
DATABASE_PASS=<database pass>

RABBITMQ_HOST=<rabbitmq host>.168.1.47
RABBITMQ_PORT=<rabbitmq port>
RABBITMQ_USERNAME=<rabbitmq user>
RABBITMQ_PASSWORD=<rabbitmq pass>

ENCRYPTION_KEY=<encryption key>

BLOCK_EXCHANGE_NAME=blockchain
BLOCK_QUEUE_NAME='blockchain_queue'
BLOCK_ROUTEING_KEY=blockchain.fetch_block